:root{
    --header-color: #212121;
    --light-header-color:#FFFFFF;
    --text-color:#757575;
    --logo-accent-color: #2196F3;
    --logo-dark-color: #000000;
    --logo-light-color: #FFFFFF;
    --btn-color: #2196F3;
    --btn-portfolio-color: #F5F4FA;
    --active-color: #2196F3;
    --btn-text-active-color: #FFFFFF; 
    --main-background-color: #F5F5F5;
    --header-background-color: #FFFFFF;
    --hero-backgroud-color: #2F303A;
    --our-team-background-color: #F5F4FA;
    --our-team-foto-background-color: #FFFFFF; 
    --footer-background-color: #2F303A;
    --footer-address-color: rgba(255, 255, 255, 0.6);
}


.list{ 
    list-style: none;
}
.link {
    text-decoration: none;
}
.visually-hidder{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: o;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--header-color);
    background: var(--main-background-color);
}
/*---------------------------------------LOGO-HEADER------------------*/
.header{
    background: var(--header-background-color);  
}
.header-logo-wed {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.24;
    color: var(--logo-accent-color);
}
.header-logo-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.24;
    color: var(--logo-dark-color);
}
.nav-studio {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--active-color);
}
.nav-portfolio {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);
}
.nav-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);
}
.header-info-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.header-info-tel{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.nav-studio:hover,
.nav-studio:focus,
.nav-portfolio:hover,
.nav-portfolio:focus,
.nav-contact:hover,
.nav-contact:focus,
.header-info-tel:hover,
.header-info-tel:focus,
.header-info-mail:hover,
.header-info-mail:focus {
    color:var(--active-color);
}

/*-------------------------------------HERO------------------------------*/
.hero{
    background: var(--hero-backgroud-color);
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-header-color);
}
.hero-btn{
    background: var(--btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    letter-spacing: 0.06em;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color:var(--light-header-color);
}
.hero-btn:hover{
    background:#188CEB;
}
/*-------------------------------------AFTER-HERO---------------------*/

.item-subtitle{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--header-color);
}
.item-text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--text-color);
}
/*----------------------------------------------WORK-------------------*/
.work-heading{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--header-color);
}
/*----------------------------------TEAM-----------------------------------*/
.team{
    background: var(--our-team-background-color);
}
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--header-color);
}
.team-list{
    background: var(--our-team-foto-background-color);
}
.team-name{ 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--header-color);
}
.team-job{
    line-height: 1.18;
    color: var(--text-color);
}
/*----------------------------------FOOTER-------------------------------------*/
.footer{
    background: var(--footer-background-color);
}
.footer-logo-wed{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.24;
    color: var(--logo-accent-color); 
}
.footer-logo-studio{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.24;
    color:var(--logo-light-color);
}
.footer-nav{
    font-style: normal;
}
.footer-address{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--light-header-color);
}
.footer-mail, .footer-tel{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-address-color);
}
/*-------------------------------------PORTFOLIO------------------------------*/
/*------------------------------------NAVIGATION-----------------------------*/
.navigation-studio {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);
}
.navigation-portfolio {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--active-color);
}
.navigation-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);
}
.navigation-studio:focus,
.navigation-studio:hover,
.navigation-portfolio:focus,
.navigation-portfolio:hover,
.navigation-contact:focus,
.navigation-contact:hover{
    color:var(--active-color); 
}




/*----------------------------------------BUTTON-------------------------------*/
.btn{
    font-family: inherit;
    background: var(--btn-portfolio-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border: none;
    border-radius: 4px;
    letter-spacing: 0.03em;
    color: var(--header-color);
}
.btn:hover,
.btn:focus{
    background: var(--active-color);
    color: var(--btn-text-active-color);
}


/*------------------------------------------PORTFOLIO----------------------*/
.portfolio-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--header-color);
}
.portfolio-after-title{
    font-size: 16px;
    line-height: 1.87;
    color:var(--text-color);
}












