
.list{ 
    list-style: none;
}
.link {
    text-decoration: none;
}
.visually-hidder{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: o;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
:root{
    --header-color: #212121;
    --light-header-color:#FFFFFF;
    --text-color:#757575;
    --logo-accent-color: #2196F3;
    --logo-dark-color: #000000;
    --logo-light-color: #FFFFFF;
    --btn-color: #2196F3;
    --active-color: #2196F3;
}
body {
    font-family: "Roboto", sans-serif;
    background:#F5F5F5;
}
/*---------------------------------------LOGO-HEADER------------------*/
.header{
    background: #FFFFFF;  
}
.header-logo-wed {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.24;
    color: var(--logo-accent-color);
}
.header-logo-studio {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.24;
    color: var(--logo-dark-color);
}
.nav-studio {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--active-color);
}
.nav-portfolio {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);
}
.nav-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);
}
.header-info-mail {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.header-info-tel{
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.header-info-tel:hover,
.header-info-tel:focus{
    color:var(--active-color);
}
.header-info-mail:hover,
.header-info-mail:focus{
    color:var(--active-color);
}

/*-------------------------------------HERO------------------------------*/
.hero{
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: #2F303A;
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-header-color);
}
.hero-btn{
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color:var(--light-header-color)
}
.hero-btn:hover{
    background:#188CEB;
}
/*-------------------------------------AFTER-HERO---------------------*/
.item{
    background: #F5F5F5;
}
.item-slogan{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--header-color);
}
.item-text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--text-color);
}
/*----------------------------------------------WORK-------------------*/
.work-heading{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--header-color);
}
/*----------------------------------TEAM-----------------------------------*/
.team{
    background: #F5F4FA;
}
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--header-color);
    background: #F5F4FA;
}
.team-list{
    background: #FFFFFF;
}
.team-name{ 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--header-color);
}
.team-job{
    font-size: 16px;
    line-height: 1.18;
    color: var(--text-color);
}
/*----------------------------------FOOTER-------------------------------------*/
.footer{
    background: #2F303A;
}
.footer-logo-wed{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.24;
    color: var(--logo-accent-color); 
}
.footer-logo-studio{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.24;
    color:var(--logo-light-color);
}
.footer-address{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--light-header-color);
}
.footer-mail, .footer-tel{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
/*-------------------------------------PORTFOLIO------------------------------*/
/*------------------------------------NAVIGATION-----------------------------*/
.navigation-studio {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);
}
.navigation-portfolio {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--active-color);
}
.navigation-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);
}
/*----------------------------------------BUTTON-------------------------------*/
.btn{
    width: 130px;
    height: 38px;
    left: 957px;
    top: 174px;
    background: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--header-color);
}
.btn:hover{
    background: #2196F3;
    color: #FFFFFF;
}
.btn.focus{
    background: #2196F3;
    color: #FFFFFF;
}
/*------------------------------------------PORTFOLIO----------------------*/
.portfolio-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--header-color);
}
.portfolio-after-title{
    font-size: 16px;
    line-height: 1.87;
    color:var(--text-color);
}












